<div class="alert alert-primary" role="alert">
   <span [innerText]="title"></span>
  </div>
  <div class="alert alert-secondary" role="alert">
   Username : <span [innerText]="username"></span>
  </div>
  <div class="alert alert-success" role="alert">
   Age : <span [innerText]="age"></span>
  </div>
  <div class="alert alert-danger" role="alert">
   Email :<input [value]="email" [id]="email">
  </div>
  <div class="alert alert-warning" role="alert">
    Is Married : <span [innerText]="isMarried"></span>
  </div>
  <div class="alert alert-info" role="alert">
    user Id : <span [innerText]="user.id"></span> <br/> user name : <span [innerText]="user.name"></span> <br/>
    user status : <span [innerText]="user.status"></span> <br/>
</div>
  <div class="alert alert-light" role="alert">
Companies :  <span [innerText]="companies"></span>
  </div>
 